;even if no config file given, the below default values are used in code for config items below
[Log_Config]
LogLevel = INFO                    ;log level, value: DEBUG/INFO/WARN/ERROR/CRITICAL, case insensitive, default value is INFO
LogSrcFileLine = false             ;if need to log source code filename and line number?, default value is false
TargetLogFile = easylog.log        ;log file name, default is easylog.log
